/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.buttonflex i{
    font-size: 12px;
    margin-right: 6px;
    padding-left: 8px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 4px;
    border-radius: 50%;
    border: solid 1px #d9d9d9;
}

/****** Header ******/

.logo {
    width: 60px;
    padding-bottom: 50px;
}

.menuflex {
    display: flex;
    justify-content: flex-end;
    margin-top: -80px;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    padding-right: 40px;
    font-size: 15px;
}

a:hover {
    text-decoration-line: overline;
    color: #0065FC;
}

/****** Titre ******/

h1 {
    padding-top: 30px;
    margin-bottom: -10px
}


/****** Bars de recherche ******/

#buttonrecherche {
    padding: 8px 10px 8px 10px;
    margin: 10px 10px 10px 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065FC;
    color: white;
    border: none;
    justify-content: center;
    font-weight: bold;
}

#gps {
    background-color: #F2F2F2;
    padding: 15px 10px 10px 15px;
    margin: 10px 0px 10px 10px;
    border-width: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    justify-content: center;
}

input {
    width: 13%;
    margin: 10px 0px 10px 0px;
    border-width: 0;
    padding: 15px;
    background-color: #FFFFFF;
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
}

/****** Filtres ******/

.flex {
    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
    font-weight: 600;
}

.buttonfiltre {
    padding: 8px 15px 8px 15px;
    margin: 10px;
    border: solid 2px #F2F2F2;;
    border-radius: 20px;
    background-color: white;
    border-color: #d9d9d9;
    font-weight: 600;
}

button:hover {
    background-color: #DEEBFF;
}

.flex i {
    margin-right: 5px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: flex-start;
}

.hebergements-cards img {
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: space-around;
    margin-left: -40px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    width: 230px;
    margin-top: 30px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

.activites {
    margin-top: 50px;
}

.activites-text {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.activites h2 {
    display: flex;
    margin-left: 20px;
}

.activites-card {
    width: 22%;
    display: flex;
    margin: auto;
    flex-direction: column;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 20px -10px #656565;
}

.activites img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 360px;
    object-fit: cover;
}

.activites h3 {
    font-size: 16px;
    font-weight: 600;
    padding: 4px;
    padding-left: 18px;
}

/****** Footer ******/

footer {
    justify-content: flex-start;
    font-size: 12px;
    background-color: #F2F2F2;
    margin-bottom: -8px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 420px 420px 420px;
}

footer h3 {
    margin-left: 14px;
    margin-right: 150px;
    font-size: 16px;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

footer li {
    margin-bottom: 10px;
    margin-left: -26px;
    font-size: 14px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .hebergements-cards .card {
        width: 180px;
    }

    .hebergements-cards img {
        height: 85px;
    }

    .hebergements h3 {
        font-size: 12px;
    }

    .hebergements-cards .card-subtitle {
        font-size: 12px;
    }

    .activites h3 {
        font-size: 15px;
        padding-bottom: 10px;
    }

    .activites img {
        height: 100px;
    }

    footer {
        grid-template-columns: 270px 270px 270px;
    }

    footer h3 {
        font-size: 13px;
        font-weight: 600;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .hebergements-and-populaires section {
        background-color: #FFFFFF;
    }

    * {
        margin: 0px;
    }

    .main-container {
        padding: 25px;
    }

    h1 {
        font-size: 25px;
    }

    p {
        font-size: 18px;
    }

    .hebergements-cards {
        grid-template-columns: 315px;
    }

    .hebergements-cards .card {
        width: 345px;
        margin-top: 20px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    }

    .hebergements-cards img {
        height: 130px;
    }

    .hebergements-cards .card-title {
        font-size: 17px;
    }
    
    .hebergements-cards .card-subtitle {
        font-size: 15px;
    }
    
    .hebergements-cards .card-rating {
        margin-bottom: 5px;
    }

    /****** Bars de recherche ******/

    input {
        width: 35%;  
    }

   .populaires {
    width: 200%;
}

.populaires-cards {
    flex-direction: column;
}

.populaires-cards .card {
    width: 345px;
    margin-left: -45px;
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 45%;
    height: 136px;
}

}
